AI_Powered_Stock_Market_Summary_Bot/AI_Powered_Stock_Market_Summary_Bot.json
{
  "name": "AI-Powered Stock Market Summary Bot",
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"symbols\": \"AAPL,MSFT,NVDA,TSLA,AMZN,GOOGL,META,JPM,XOM,UNH,GME\"\n}\n",
        "options": {}
      },
      "id": "f9e2b1a6-4bc4-429c-a516-78fc440cb259",
      "name": "Ticker List",
      "type": "n8n-nodes-base.set",
      "position": [
        1820,
        600
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "=https://data.alpaca.markets/v2/stocks/bars",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbols",
              "value": "={{ $json.symbols }}"
            },
            {
              "name": "timeframe",
              "value": "1Day"
            },
            {
              "name": "limit",
              "value": "1000"
            },
            {
              "name": "feed",
              "value": "iex"
            },
            {
              "name": "=start",
              "value": "={{ new Date(Date.now() - 100 * 24 * 60 * 60 * 1000).toISOString().split('T')[0] }}"
            },
            {
              "name": "end",
              "value": "={{ new Date().toISOString().split('T')[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "46c712d0-8e65-4da0-bdbc-9eadf4213f2f",
      "name": "Fetch Stock Data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2040,
        600
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpCustomAuth": {
          "id": "ooyY69eW3u4kNyaL",
          "name": "Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import pandas as pd\nimport numpy as np\nimport json\n\nbars_by_symbol = items[0]['json']['bars']\nstocks = []\n\nfor symbol, bars in bars_by_symbol.items():\n    closes = [float(bar['c']) for bar in bars if 'c' in bar]\n    if len(closes) < 30:\n        continue\n\n    df = pd.DataFrame({'close': closes})\n\n    # RSI(14)\n    delta = df['close'].diff()\n    gain = delta.clip(lower=0)\n    loss = -delta.clip(upper=0)\n    avg_gain = gain.rolling(14).mean()\n    avg_loss = loss.rolling(14).mean()\n    rs = avg_gain / avg_loss\n    df['rsi'] = 100 - (100 / (1 + rs))\n\n    # MACD (12,26,9)\n    ema12 = df['close'].ewm(span=12, adjust=False).mean()\n    ema26 = df['close'].ewm(span=26, adjust=False).mean()\n    df['macd'] = ema12 - ema26\n    df['signal'] = df['macd'].ewm(span=9, adjust=False).mean()\n\n    # 移動平均線（短中長）\n    df['ma5'] = df['close'].rolling(5).mean()\n    df['ma10'] = df['close'].rolling(10).mean()\n    df['ma20'] = df['close'].rolling(20).mean()\n\n    # 跳過還沒收斂的資料\n    if df[['rsi', 'macd', 'signal', 'ma5', 'ma10', 'ma20']].isnull().iloc[-1].any():\n        continue\n\n    latest = df.iloc[-1]\n    rsi = float(latest['rsi'])\n    macd = float(latest['macd'])\n    signal = float(latest['signal'])\n    ma5 = float(latest['ma5'])\n    ma10 = float(latest['ma10'])\n    ma20 = float(latest['ma20'])\n    price = float(latest['close'])\n\n    # 均線糾結判斷（三條均線差距接近）\n    ma_list = [ma5, ma10, ma20]\n    ma_spread = max(ma_list) - min(ma_list)\n    ma_spread_pct = ma_spread / price\n    is_entangled = bool(ma_spread_pct < 0.002)  # 差距 < 0.2% 視為糾結\n\n    # RSI 區間說明\n    if rsi < 30:\n        rsi_zone = \"Oversold\"\n    elif rsi > 70:\n        rsi_zone = \"Overbought\"\n    else:\n        rsi_zone = \"Neutral\"\n\n    # 技術分析狀態判斷\n    status = \"Hold\"\n    if rsi < 30 and macd > signal:\n        status = \"Buy\"\n    elif rsi > 70 and macd < signal:\n        status = \"Sell\"\n\n    stocks.append({\n        \"ticker\": symbol,\n        \"rsi\": round(rsi, 5),\n        \"rsi_zone\": rsi_zone,\n        \"macd\": round(macd, 5),\n        \"signal\": round(signal, 5),\n        \"ma5\": round(ma5, 5),\n        \"ma10\": round(ma10, 5),\n        \"ma20\": round(ma20, 5),\n        \"ma_spread_pct\": round(ma_spread_pct, 5),\n        \"entangled\": is_entangled,\n        \"status\": status\n    })\n\nreturn [{\n    \"json\": {\n        \"summary\": json.dumps({\n            \"stocks\": stocks\n        }, separators=(',', ':')),\n        \"stocks\": stocks\n    }\n}]\n"
      },
      "id": "e8d96c0c-e927-4676-a02f-7729c0126165",
      "name": "Interpret Data",
      "type": "n8n-nodes-base.code",
      "position": [
        2260,
        600
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_We20UILx808lWXiDcnTywzO5",
          "mode": "id"
        },
        "prompt": "define",
        "text": "=Here is the technical indicator data as JSON:\n\n{{ $json.summary }}\n\nPulled as of {{ $now }}",
        "options": {}
      },
      "id": "5ace21ee-80b0-4d79-be68-ded17b53b5a2",
      "name": "Stock Analysis Assistant",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2460,
        600
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "pagH5bXzy2rNx7gR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "https://app.slack.com/client/T0L37MDK2/D0998SBAJU9",
          "mode": "url"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {}
      },
      "id": "97f8d2af-02a9-4f93-8bf7-ee083b13dccf",
      "name": "Send Summary to User(s)",
      "type": "n8n-nodes-base.slack",
      "position": [
        2836,
        600
      ],
      "webhookId": "57e1eff1-81c1-42f1-b8ee-fb3e40551362",
      "typeVersion": 2.3,
      "credentials": {
        "slackApi": {
          "id": "DAo2M2eOszAB7lnG",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 30 6-14 * * 1-5"
            }
          ]
        }
      },
      "id": "21b091f5-ce81-4d98-8978-f7193734a72c",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        1140,
        600
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "acca2d72-d9db-436d-aee8-81a3a359fe85",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.is_open }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "94804d45-b868-4501-a53c-0a1063768f14",
      "name": "Check if Market is open",
      "type": "n8n-nodes-base.if",
      "position": [
        1580,
        600
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {},
      "id": "8366acca-42ff-4106-8b37-316727ac8963",
      "name": "Market is Closed",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1820,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://paper-api.alpaca.markets/v2/clock",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "id": "ee50cf08-efe2-4886-8527-23c069495afd",
      "name": "Check Market Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1380,
        600
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpCustomAuth": {
          "id": "ooyY69eW3u4kNyaL",
          "name": "Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "# 🧠 Stock Analysis Assistant\n\nThis workflow analyzes selected S&P 500 stocks using RSI and MACD indicators, summarizes the insights into plain English, and posts an update to Slack every hour during U.S. market hours (Mon–Fri).",
        "width": 660
      },
      "id": "97de7640-5be5-4821-9cea-a8d481590256",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📅 Schedule Trigger\n\n**Node:** `Schedule Trigger`  \nRuns every hour between 6:30 AM and 2:30 PM (PST), Monday to Friday.  \n**Cron Expression:** `0 30 6-14 * * 1-5`\n\n⏰ Triggers analysis only during U.S. stock market hours.",
        "height": 700,
        "color": 7
      },
      "id": "4c40864c-ad6d-420f-88b8-a497d7c71a5d",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1060,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🏛️ Market Status Check\n\n**Node:** `Check Market Status`  \nEndpoint: `https://paper-api.alpaca.markets/v2/clock`\n\nChecks if the market is open using Alpaca’s `/clock` endpoint.\n\n**Node:** `Check if Market is open`  \n- ✅ If true → continue  \n- ❌ If false → exit gracefully via the “Market is Closed” NoOp node",
        "height": 700,
        "width": 460,
        "color": 7
      },
      "id": "28ee034a-cb6a-4a54-8ce1-fef5e439e2de",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1300,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📈 Ticker Setup\n\n**Node:** `Ticker List`  \nSets the stock symbols to be analyzed.\n\n📌 You can update this list to monitor different stocks.",
        "height": 540,
        "width": 220,
        "color": 4
      },
      "id": "ab88e6c4-bafb-47d6-9292-b54850f1d984",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔗 Fetch Stock Data\n\n**Node:** `Fetch Stock Data`  \nCalls Alpaca’s `/v2/stocks/bars` endpoint with:\n- `symbols`: from `Ticker List`\n- `timeframe`: `1Day`\n- `limit`: `1000`\n- `feed`: `iex` (avoid SIP permission error)\n- `start`: 100 days ago\n- `end`: today",
        "height": 540,
        "width": 220,
        "color": 4
      },
      "id": "01892c69-4c22-4c78-a1db-1add2d06993c",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1980,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🧮 Interpret Data\n\n**Node:** `Interpret Data`  \nPython code calculates:\n- RSI(14)\n- MACD(12,26,9)\n- Decision status: `\"Buy\"`, `\"Hold\"`, or `\"Sell\"`\n\nOutputs:\n- `stocks`: a list of indicator values and status\n- `summary`: JSON string version for GPT",
        "height": 540,
        "width": 220,
        "color": 4
      },
      "id": "a1b98ff6-b033-4f0c-90c6-b6bf2ea0e461",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2200,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🤖 AI Assistant Summary\n\n**Node:** `Stock Analysis Assistant`  \nUses a custom OpenAI assistant to:\n- Group stocks into categories\n- Provide commentary in plain English\n- Teach users simple market behaviors\n\nPrompt includes:\n- Stock JSON (`summary`)\n- Timestamp (`$now`)\n\n📌 Uses Slack-friendly markdown output.",
        "height": 540,
        "width": 360,
        "color": 4
      },
      "id": "0ac7e6ad-405e-46b6-81b9-3367c7793136",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2420,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "",
        "width": 220,
        "color": 3
      },
      "id": "10b73555-9619-4327-beac-d36a5a88f844",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        780
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "91c98665-4226-4579-a9df-2dd4ad137638",
      "name": "End of Flow",
      "type": "n8n-nodes-base.noOp",
      "position": [
        3060,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 💬 Post to Slack\n\n**Node:** `Send Summary to User(s)`  \nSends the GPT-generated summary to Slack using:\n```js\n{{ $json.output }}\n```\n⚙️ Configured with the appropriate Slack user or channel.",
        "height": 540,
        "width": 220,
        "color": 4
      },
      "id": "f11bdac9-2fbe-4ea5-a470-d89d26aa01ba",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2780,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "",
        "height": 540,
        "width": 220,
        "color": 4
      },
      "id": "8221dafd-302c-4bbe-9cea-25bdbe980acb",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3000,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🤖 AI Assistant Prompt\n\nYou are a financial assistant writing a quick, readable market update for a general audience. Your job is to help people understand how well-known stocks are behaving — even if they aren’t professional traders.\n\nYou’ll be given:\n\nA list of stocks with technical indicators (e.g., momentum data)\nA timestamp (in RFC 3339 or ISO format) for when the data was pulled.\n📌 Your task:\nGroup the stocks into three categories:\n🟢 Buy Watchlist – Stocks showing signs of recovery or upward momentum\n⚪ Neutral Hold – Stocks with steady or unclear direction\n🔴 Caution / Sell – Stocks that appear overbought or may pull back\nFor each stock:\nWrite a short, plain-language insight about what’s happening\nUse familiar terms like “gaining steam,” “cooling off,” or “showing hesitation”\nAvoid technical jargon like RSI or MACD unless context makes it helpful\nAdd a helpful tip or comment for each stock (e.g.,\n“This pattern often signals hesitation” or\n“This dip might attract bargain hunters”)\nFinish with a summary line using the timestamp like this:\nSummary as of October 2, 2025 – Most stocks were stable with one or two worth watching.\n📦 Respond in Slack Markdown Only:\nExample Format:\n\n*📊 Market Summary (as of October 2, 2025)*\n\n🟢 *Buy Watchlist*  \n• TSLA – Recovering after a dip; gaining steam. This type of rebound often attracts early buyers.\n\n⚪ *Neutral Hold*  \n• AAPL – Holding steady. This often means the market is waiting on new developments.  \n• GOOGL – Moving sideways. A sign of consolidation before potential breakout.  \n• MSFT – Little movement. Could be digesting prior gains.  \n• NVDA – Slight back-and-forth. May indicate indecision in the market.\n\n🔴 *Caution / Sell*  \n• None at this time.\n\n_Summary as of October 2, 2025: Most stocks appear steady. TSLA could be one to watch if momentum holds._\n🚫 Do NOT:\nReturn raw JSON\nUse code blocks unless formatting Slack markdown (no YAML or tags)\nUse technical finance language unless simplified",
        "height": 940,
        "width": 660,
        "color": 5
      },
      "id": "d492d1bc-99ba-43da-bf15-1cbe11badb13",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://data.alpaca.markets/v1beta3/crypto/us/bars",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbols",
              "value": "={{ $json.symbols }}"
            },
            {
              "name": "timeframe",
              "value": "15T"
            },
            {
              "name": "limit",
              "value": "1000"
            },
            {
              "name": "sort",
              "value": "asc"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "b47c7ad8-4ffa-4a8e-988c-9430698fc522",
      "name": "Fetch Stock Data1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2060,
        1040
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"symbols\": \"BTC/USDT,ETH/USDT,XRP/USD,SOL/USDT,DOGE/USDT\"\n}\n",
        "options": {}
      },
      "id": "0d4d74ce-6a2c-4989-9b2d-e07afb7e86d9",
      "name": "Ticker List1",
      "type": "n8n-nodes-base.set",
      "position": [
        1820,
        1040
      ],
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "connections": {
    "Ticker List": {
      "main": [
        [
          {
            "node": "Fetch Stock Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interpret Data": {
      "main": [
        [
          {
            "node": "Stock Analysis Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Stock Data": {
      "main": [
        [
          {
            "node": "Interpret Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Check Market Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ticker List1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Market Status": {
      "main": [
        [
          {
            "node": "Check if Market is open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Market is open": {
      "main": [
        [
          {
            "node": "Ticker List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Market is Closed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to User(s)": {
      "main": [
        [
          {
            "node": "End of Flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stock Analysis Assistant": {
      "main": [
        [
          {
            "node": "Send Summary to User(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ticker List1": {
      "main": [
        [
          {
            "node": "Fetch Stock Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Stock Data1": {
      "main": [
        [
          {
            "node": "Interpret Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "0a5f13af-fa4f-4a48-8d20-e6673a29d22a",
  "meta": {
    "templateId": "4867",
    "instanceId": "5151602c9c8b2ee64fe637df48105f7c075716162458b839391baaa3524b278c"
  },
  "id": "zgLBCptdrtEEDqQV",
  "tags": []
}